@import '../css/responsiveGrid.scss';

.MainHeader {
  box-sizing: border-box;
  width: 90%;
  margin:  16px auto;
  display: flex;
  align-items: center;
  &_text {
    margin-left: 16px;
    font-size: 1.2em;
  }
  &_time {
    margin-left: auto;
    margin-right: 4px;
  }
}
