.place_card {
  height: 160px;
  overflow: auto;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  &_left {
    flex-basis: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .location {
      &_title {
        margin: 16px 0 4px 8px;
        font-size: 1.2em;
        font-weight: 600;
      }
      &_sub {
        margin: 0 0 0 8px;
      }
    }
  }
  &_right {
    flex-basis: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;

    .temperature {
      font-size: 2em;
      font-weight: 800;
      margin: 8px 0 0 0;
    }
  }
  &_errorIcon {
    align-self: center;
    text-align: center;
    flex-basis: 30%;
  }
  &_errorText {
    align-self: center;
    flex-basis: 70%;
    color: #f1f1f1;
    .error_title {
      font-size: 1.2em;
      font-weight: 800;
      margin: 8px 0;
    }
    .error_sub {
      margin: 0;
    }
  }
}
