body {
  background: #1b1b1b;
  overflow: auto;
  .timeline {
    width: 100vw;
    height: 100vh;

    .card {
      width: 80%;
      height: 30%;
      max-height: 300px;
      max-width: 1000px;
      background: #fafafa;
      margin: 10px auto 0 auto;
      border-radius: 10px;
      position: relative;
      display: flex;
      &_left {
        flex-basis: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &_center {
        flex-basis: 60%;
        h1 {
          font-family: 'Do Hyeon', sans-serif;
          color: #000;
          font-weight: 400;
          text-align: left;
        }
        &__details {
          ul {
            list-style-type: none;
            padding: 0 0 0 40px;
            margin: 10px 0 0 0;
            li {
              display: inline;
              color: #fafafa;
              font-weight: 400;
              font-size: 18px;
              padding: 0 40px 0 0;
            }
          }
        }
      }
      &_right {
        flex-basis: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-family: 'Do Hyeon', sans-serif;
          font-size: 2em;
        }
        .celsiusicon {
        }
      }
      &_topcircle {
        position: absolute;
        background: #1b1b1b;
        border-radius: 50%;
        padding: 5px;
        left: 15%;
        top: 0;
        transform: translate(0%, -50%);
        z-index: 1;
      }
      &_bottomcircle {
        position: absolute;
        background: #1b1b1b;
        border-radius: 50%;
        padding: 5px;
        left: 15%;
        bottom: 0;
        transform: translate(0%, 50%);
        z-index: 1;
      }
    }
    .nonCard {
      width: 80%;
      height: 30%;
      max-height: 300px;
      max-width: 1000px;
      margin: auto;
      border-radius: 10px;
      position: relative;
      display: flex;
      .line {
        position: absolute;
        left: 15%;
        top: 0;
        transform: rotate(90deg);
        transform-origin: 47% 40%;
        z-index: 2;
      }
    }
  }
}
