@import 'css/responsiveGrid.scss';

.forecast {
  display: grid;
  padding: 64px;
  grid-gap: 32px;
  grid-template-columns: auto auto auto;
  @include respond-to('medium') {
    grid-template-columns: auto auto;
  }
  @include respond-to('small') {
    grid-template-columns: auto;
  }
  a {
    text-decoration: none;
  }
  &_card {
    background: #bbb;
    height: 160px;
    overflow: auto;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    color: #f1f1f1;
  }
}
