@import '../css/responsiveGrid.scss';

.emptyHeader {
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / span 2;
  height: 35px;
  margin-bottom: 32px;
  @include respond-to('small') {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.lodingText {
  color: 'white';
  grid-column: 1;
}

.forecast {
  display: grid;
  padding: 16px 64px;
  grid-column-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  @include respond-to('medium') {
    padding: 16px 32px;
    grid-column-gap: 16px;
  }
  @include respond-to('small') {
    grid-template-columns: auto;
    padding: 16px;
    grid-column-gap: 8px;
  }
  a {
    text-decoration: none;
  }
  &_card {
    grid-column: 1;
    background: #bbb;
    overflow: none;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #f1f1f1;
    position: relative;
    &_topcircle {
      position: absolute;
      background: #1b1b1b;
      border-radius: 50%;
      padding: 5px;
      left: 40px;
      top: 0;
      transform: translate(0%, -50%);
      z-index: 1;
    }
    &_bottomcircle {
      position: absolute;
      background: #1b1b1b;
      border-radius: 50%;
      padding: 5px;
      left: 40px;
      bottom: 0;
      transform: translate(0%, 50%);
      z-index: 1;
    }

    &_tomorrow {
      width: 100%;
      display: flex;
      padding: 16px;
      height: 92px;
      background: orange;
      border-radius: 16px;
      box-sizing: border-box;
      &_left {
        flex-basis: 25%;
      }
      &_right {
        flex-basis: 75%;
        .tomorrowTimeTitle {
          margin: 8px 0;
          font-size: 1.2em;
          font-weight: 600;
        }
        .tomorrowWeatherTitle {
          margin: 0;
        }
      }
    }
    &_week {
      width: 100%;
      display: flex;
      border-radius: 16px;
      box-sizing: border-box;
      flex-direction: column;
      &_1 {
        display: flex;
        background: orange;
        padding: 16px;
        border-radius: 16px 16px 0 0;
        &_left {
          flex-basis: 25%;
        }
        &_right {
          flex-basis: 75%;
          .week1Title {
            margin: 8px 0;
            font-size: 1.2em;
            font-weight: 600;
          }
          .week1WeatherTitle {
            margin: 0;
          }
        }
      }
      &_2 {
        display: flex;
        background: orange;
        padding: 16px;
        &_left {
          flex-basis: 25%;
        }
        &_right {
          flex-basis: 75%;
          .week2Title {
            margin: 8px 0;
            font-size: 1.2em;
            font-weight: 600;
          }
          .week2WeatherTitle {
            margin: 0;
          }
        }
      }
    }
  }
}
